//output:../admin.html
- var no_nav = false
- var page = "Admin Main"

doctype html
html(lang="en")
  head
    include globals/_head.jade
  body
    include globals/_navbar.jade
    main(id="main")
      include admin/main_content.html
    include globals/_scripts.jade
    script(src="./js/admin.js")
