//output:../admin.html
- var no_nav = false
- var page = "Admin Main"

doctype html
html(lang="en")
  head
    include globals/_head.jade
  body
    include admin/main_content.html
    include globals/_scripts.jade
