//output:../login.html
- var no_nav = false
- var page = "Login"

doctype html
html(lang="en")
  head
    include globals/_head.jade
  body
    include admin/login_content.html
    include globals/_scripts.jade
