//output:../signup.html
- var no_nav = false
- var page = "Signup"

doctype html
html(lang="en")
  head
    include globals/_head.jade
  body
    include admin/signup_content.html
    include globals/_scripts.jade
