//output:../terms.html
- var no_nav = false
- var page = "Terms & Conditions"

doctype html
html(lang="en")
  head
    include globals/_head.jade
  body
    include admin/terms_content.html
    include globals/_scripts.jade
