if no_nav == false
  nav
    ul#navlist
      li(class=(page == "Admin Main" ? "active" : ""))
        a(href='./admin.html') Dashboard
      li(class=(page == "Admin Posts" ? "active" : ""))
        a(href='./posts.html') Posts
      li(class=(page == "Admin Pages" ? "active" : ""))
        a(href='./pages.html') Pages
      li(class=(page == "Admin Themes" ? "active" : ""))
        a(href='./themes.html') Themes
      li(class=(page == "Admin Users" ? "active" : ""))
        a(href='./users.html') Users
      li(class=(page == "Admin Settings" ? "active" : ""))
        a(href='./settings.html') Settings
  .openNav
    .icon
