script(src="./js/jquery-3.1.0.min.js")
script(src="./js/jquery-ui.min.js")
script(src="./js/sweetalert.js")
script(src="./js/waves.js")
script(src="./js/style.js")
script(src="/socket.io/socket.io.js")
